<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    {% if subsubmenu or error_message %}
        <link rel="stylesheet" type="text/css" href="../../static/style.css">
    {% else %}
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    {% endif %}
</head>
<body>
    <h1>Welcome, {{ session['username'] }}</h1>
    
    <!-- Check if submenu is defined and not empty -->
    {% if submenu %}
        <p>User with username <b>{{ submenu|safe }}</b>, your CPR is:  <b>{{ cpr }}</b></p>
    {% else %}
        <p>&nbsp;</p>
    {% endif %}

    <!-- Display the error message -->
    {% if error_message %}
        <p style="color: red;">{{ error_message|safe }}</p>
    {% else %}
        <!-- Check if subsubmenu is defined and not empty -->
        {% if subsubmenu %}
            <p>User with CPR <b>{{ subsubmenu|safe }}</b>, your password hash is:  <b>{{ password }}</b></p>
        {% else %}
            <p>&nbsp;</p>
        {% endif %}
    {% endif %}
    
    
    <p>&nbsp;</p>
    <a href="{{ url_for('logout') }}" class="button">Logout</a>
    <a href="{{ url_for('home', submenu=session['username']) }}" class="button">Show CPR</a>
    <a href="{{ url_for('home', submenu=session['username'], subsubmenu=cpr) }}" class="button">Show password hash</a>
    
    
</body>
</html>
