<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
    <h1 class="login-title">Login</h1>
    
    <div id="login-page-content">
        <!-- Display the error message -->
        {% if error_message %}
        <p style="color: red;">{{ error_message }}</p>
        {% endif %}
        
        <form method="POST" action="{{ url_for('login') }}">
            <input type="text" name="username" placeholder="Username"><br>
            <input type="password" name="password" placeholder="Password"><br>
            <input type="submit" value="Login">
        </form>
        <a href="{{ url_for('register') }}">Register</a>
        <br>
        <img src="{{url_for('static', filename='key.png')}}" alt="Image of a key" width = "10%" style="padding-top: 10px;"/>
    </div>


</body>
</html>
