<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
    <h1>Register</h1>
    
    <!-- Display the error message if it exists -->
    {% if error_message %}
    <p style="color: red;">{{ error_message }}</p>
    {% endif %}
    
    <form method="POST" action="{{ url_for('register') }}">
        <input type="text" name="username" placeholder="Username"><br>
        <input type="password" name="password" placeholder="Password"><br>
        <input type="text" name="cpr" placeholder="CPR"><br>
        <input type="submit" value="Register">
    </form>
    <a href="{{ url_for('login') }}">Login</a>
    <br>
    <img src="{{url_for('static', filename='key.png')}}" alt="Image of a key" width = "5%" style="padding-top: 10px;"/>
</body>
</html>
